
.chat-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 60px);

    .chat-list-container {
        display: flex;
        justify-content: left;
        flex-direction: column;
    
        .chat-general {
            display: flex;
    
            &.chat-general-recived {
                display: flex; 
                justify-content: flex-start;
            }
    
            &.chat-general-sended {
                display: flex; 
                justify-content: flex-end;
            }
    
            .chat-box {
                padding: 20px;
                margin-bottom: 10px;
                border-radius: 25px;
    
                &.chat-recived {
                    width: 50%;
                    background-color: rgb(245, 206, 108);
                    color: white;
                    text-align: right;
                }
                
                &.chat-sended {
                    width: 50%;
                    background-color: rgb(138, 206, 138);
                    color: white;
                    text-align: left;
                }
            }
    
    
        }
    
    }

    form {
        input {
            height: 31px;
            margin-right: 10px;
            border-radius: 0;
            border: 1px solid #ddd;
        } 

        button { 
            background-color: rgb(117, 117, 216);
            border: 0;
            padding: 10px 20px;
            color: white;
        }
    }
    
}