<h3>Angular Chat</h3>
<div class="chat-container">
    <div class="chat-show-list chat-list-container">
        <div *ngFor="let chat of listChat" class="chat-general" [ngClass]="{'chat-general-sended' : chat.propietario === 'propio', 'chat-general-recived' : chat.propietario === 'externo'}">
            <div class="chat-box" [ngClass]="{'chat-sended' : chat.propietario === 'propio', 'chat-recived' : chat.propietario === 'externo'}">
                {{ chat.message }}
            </div>
        </div>
    </div>
    
    <form>
        <input [formControl]="textChat" type="text">
        <button (click)="sendMessage()">Enviar Mensaje</button>
    </form>

</div>

